<div class="card__wrapper">
    <mat-card>
        <mat-card-title>Pollub Company</mat-card-title>
        <mat-card-subtitle>Lorem ipsum</mat-card-subtitle>
        <mat-card-content>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam neque sapien, ullamcorper a
            arcu eu, tincidunt tincidunt nulla. Pellentesque habitant morbi tristique senectus et netus et malesuada
            fames ac turpis egestas. Maecenas vehicula sit amet dolor non pharetra. Vivamus placerat, elit vitae egestas
            gravida, purus diam vulputate purus, quis aliquam dui velit sit amet turpis. Vestibulum porttitor tincidunt
            eleifend. Praesent sollicitudin congue volutpat. Vestibulum erat risus, condimentum vestibulum fermentum ut,
            porta sit amet quam. Cras mattis ex a purus sagittis, et semper nibh tincidunt. Phasellus erat dui, volutpat
            in quam ac, euismod mattis orci.

            Duis in dui urna. Donec volutpat dapibus nunc id fringilla. Fusce tincidunt tortor ante, in fringilla ligula
            ultrices sed. Vestibulum posuere magna a erat aliquet maximus nec nec lacus. Proin pulvinar aliquet magna,
            ut tempor libero suscipit ac. Sed varius elit vel felis vehicula, in congue sem tempus. Duis fermentum nisi
            non posuere accumsan. Donec porttitor, mi finibus lobortis lobortis, enim enim efficitur nunc, sit amet
            interdum mauris tellus sit amet arcu. Curabitur aliquam sollicitudin risus, sed pretium sem elementum sit
            amet. Praesent in blandit felis, a sodales ipsum. Morbi maximus tincidunt erat, ac placerat diam imperdiet
            commodo. Vestibulum placerat dictum lacus. Nulla interdum purus venenatis quam aliquam euismod.
        </mat-card-content>
    </mat-card>
</div>